.container{
    width: 100vw;
    height: 75vh;
}

.jumbotron {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-image: url('https://images.unsplash.com/photo-1486049252259-45184399c5b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7b20ab6b8d2081dc48971a3e67db67d&auto=format&fit=crop&w=750&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    margin: 0;
    position: relative;
}

.title {
    width: 33%;
    z-index: 3;
    position: relative;
    top: -65vh;
    right: -62vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}